.logo{
    width: 50px;
    height: auto;
    margin-top: 10px;
}
.changecolor a{
    color: black;
    text-decoration: none;
}
.changecolor a:hover{color: green}
#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
#head{
    height: 100px;
    background-color: #f5f5f5;
    border: 1px solid #CDCDCD;
    margin-bottom: 5px;
}
#left{
    width: 150px;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    float: left;
    background-color: #004C00;
    margin-bottom: 5px;
}